
#back-to-top {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: #000; 
    color: rgb(248, 244, 244); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#back-to-top:hover {
    background-color: #555; 
}
